<!-- views/partials/appointment.handlebars -->
<div class="appointment-container">
    <div class="appointment-details">
        <div style="background: antiquewhite" class="user-info-dets-container">
            <div class="user-info-name-container">
                <span class="user-info-name">Τίτλος</span>
                <span class="user-info-name">{{this.title}}</span>
            </div>
            <div class="user-info-appointment-container">
                <span class="user-info-name">Ημερομηνία</span>
                <span class="user-info-name">{{this.date}}</span>
            </div>
            <div class="user-info-appointment-container">
                <span class="user-info-name">Ώρα</span>
                <span class="user-info-name">{{this.time}}</span>
            </div>
            <div class="user-info-appointment-container">
                <span class="user-info-name">Συμμετέχοντες</span>
                <span class="user-info-name">{{this.user_participants}}</span>
            </div>

        </div>
    </div>
</div>