<div class="user-info-title-container">
    <span class="user-info-title">Τα μηνύματά μου</span>
</div>
<div id="messages-container" class="messages-container">

{{#each messages}}
{{> messageCard this}}
{{/each}}

</div>

<div class="user-info-title-container">
    <span class="user-info-title">Οι ειδοποιήσεις μου</span>
</div>
<div class="notifications-container">
    {{#each notifications}}
        {{> notificationCard this}}
    {{/each}}
</div>
{{> sendMessageModal}}
<script>
    // Get the button that opens the modal
    var sendMessageBtn = document.getElementById("sendMessageBtn");

    // When the user clicks the button, open the modal
    sendMessageBtn.onclick = function() {
        sendMessageModal.style.display = "block";
    }
    // Get the modal
    var sendMessageModal = document.getElementById("sendMessageModal");

    // Get the <span> element that closes the modal
    var closeSendMessageModal = sendMessageModal.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    closeSendMessageModal.onclick = function() {
        sendMessageModal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == sendMessageModal) {
            sendMessageModal.style.display = "none";
        }
    }
    // Handle form submission
    document.getElementById('sendMessageForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const sender_id = this.querySelector('input[name="sender_id"]').value;
        const receiver_username = this.querySelector('input[name="receiver"]').value;
        const content = this.querySelector('textarea[name="message"]').value;
        fetch('/messages/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ sender_id, receiver_username, content }),
        })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Refresh the page to see the new message
                        location.reload();
                    } else {
                        // Show an error message
                        alert('Failed to send message');
                    }
                });
    });

</script>