#messages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.message {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-form {

    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-form .form-group {
    margin-bottom: 5px;
}

.message-form label {
    display: flex;
    margin-bottom: 5px;
}

.message-form input[type="text"],
.message-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-form .submit-btn {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-form .submit-btn:hover {
    background-color: #0056b3;
}